@model IEnumerable<Book_MVC.Models.Publications>

@{
    ViewData["Title"] = "Index";
}
<body>
    <div class="text-center">
        <!--code to keep the heading in the center-->
        <header>
            <!--z-index code to display image on the Publication page behind the text-->
            <style>
                img {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    z-index: -1;
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            </style>
        </header>

        <img src="~/Images/book 3.jpg" />

        <!--code to increse the size of heading and to change its color, also to make it bold-->
        <h1 class="display-4"><b><p style="color:brown;">PUBLICATIONS' DATA</b></p></h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <!--code to display the details of publications like Books copies, publisher detail and books details-->
                        <!--code to bold the text-->
                        <b>
                            Books Copies
                        </b><!--code to remove the underscore from Books copies to make it look nice-->
                    </th>
                    <th>
                        <!--code to bold the text-->
                        <b>
                            Publisher detail
                        </b><!--code to remove the underscore from Publisher details to make it look nice-->
                    </th>
                    <th>

                        <!--code to bold the text-->
                        <b>

                            Books detail
                        </b><!--code to remove the underscore from Books detail to make it look nice-->
                    </th>
                    <th></th>
                </tr>
            </thead>

</body>
            <body>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Books_Copies)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publisher_detail.Publisher_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Books_detail.Tittle)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </body>
        </table>
